<h2>Sign up now!</h2>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter Username" >
  </div>
  <div class="form-group">
    <label for="firstName">First name</label>
    <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
  </div>
  <div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" class="form-control" id="lastName" placeholder="Enter last name">

  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" placeholder="Enter age">
  </div>
  <div class="form-group">
    <label for="subscription">Subscription</label>
    <select class="form-control" id="subscription">
      <option value=""></option>
      <option value="free">Free tier</option>
      <option value="premium">Premium plan</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary formsubmit">Submit</button>
</form>
